@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.contianer {
  width: 930px;
  margin: 0 auto;
}

:root {
  --mainColor: #000000;
  --secondaryColor: #8F95A5; 
  --thirdColor: #263238;
  --bgColor1: #EEEEEE;
  --bgColor2: #F5F5F5;
}
